:root {
  --red: #fe4443;
  --grey: #f0efef;
  --grey2: #6e6e6e;
  --lightBlack: #464955;
  --black: #13222a;
}

body {
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  overscroll-behavior: none;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: thin;
  scrollbar-color: var(--red);
}

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--red);
  border-radius: 2px;
}

.loader {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: var(--grey);
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2em;
  font-size: 12px;
  font-family: "Orbitron", sans-serif;
}

.progress {
  position: absolute;
  top: 60%;
  width: 50%;
  height: 1px;
  background: var(--red);
  transform: scaleX(0);
  transition: transform 1s;
  transform-origin: left;
  z-index: 10;
  margin: 0 5%;
}

.nav--bar {
  display: flex;
  align-content: center;
  width: 100%;
  justify-content: center;
  font-family: "Orbitron", sans-serif;
  margin-bottom: 1%;
  margin-top: 20px;
  font-size: 3vw;
}

main {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100vh;
  scroll-snap-type: mandatory;
  scroll-snap-points-y: repeat(100vh);
  scroll-snap-type: y mandatory;
}

section {
  height: 100vh;
  width: 100vw;
  scroll-snap-align: start;
  font-size: 42px;
}

#webgi-canvas {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  pointer-events: none;
  z-index: -1;
}

.first {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.section--one--container1 {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;
  position: relative;
}

.first h1 {
  font-size: 6vw;
  font-family: "Orbitron", sans-serif;
  color: var(--lightBlack);
}

.first h1 span {
  color: var(--red);
}

.first p {
  font-size: 2vw;
  font-weight: 400;
  color: var(--lightBlack);
}

.first h3 {
  color: var(--grey);
  position: absolute;
  font-size: 9vw;
  white-space: nowrap;
  z-index: -1;
  text-transform: uppercase;
  top: 50%;
}

.section--one--container2 {
  width: 70%;
  margin-bottom: 6%;
  display: flex;
  justify-content: space-between;
}

.spec--wrapper .name {
  font-size: 1.5vw;
  font-weight: 400;
  color: var(--lightBlack);
}

.value--wrapper {
  display: flex;
  align-items: flex-end;
}

.value--wrapper .value {
  font-size: 2.3vw;
  font-weight: 200;
  font-family: "Orbitron", sans-serif;
  color: var(--red);
}

.value--wrapper .unit {
  font-size: 1vw;
  margin: 0 5px;
  margin-bottom: 0.5vw;
  font-weight: 600;
  color: var(--lightBlack);
}

.second {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

.section--two--container1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--red);
}

.leftSide {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 20px;
}

.section--three--container {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.rightSide {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: auto;
}

.section--four--container {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin-right: 10%;
}

.six {
  position: relative;
}

.section--six--container {
  display: flex;
  flex-direction: column;
  width: 30%;
  padding-bottom: 50px;
}

.title {
  font-size: 5vw;
  line-height: 5vw;
  color: var(--red);
  white-space: 0px;
  margin-bottom: 20px;
  font-family: "Orbitron", sans-serif;
  text-transform: uppercase;
}

.detail {
  font-size: 1.5vw;
  line-height: 2.2vw;
  color: var(--black);
  font-weight: 200;
}

footer {
  background: var(--black);
  padding: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
  bottom: 0;
  width: 100%;
}

footer > a {
  background: white;
  color: black;
  border: none;
  border-radius: 40px;
  padding: 20px 20px;
  font-size: 0.6rem;
  cursor: pointer;
  transition: all 0.8s ease;
  font-size: medium;
}

footer > a:hover {
  background: black;
  color: white;
}


.button--footer {
  background: white;
  color: black;
  border: none;
  border-radius: 40px;
  padding: 20px 20px;
  font-size: 0.6rem;
  cursor: pointer;
  transition: all 0.8s ease;
  font-size: medium;
}

.button--footer:hover {
  background: black;
  color: white;
}

.my-button {
  background: white;
  color: black;
  border: none;
  border-radius: 50px;
  padding: 20px 20px;
  font-size: 0.6rem;
  cursor: pointer;
  transition: all 0.8s ease;
  font-size: medium;
}

.my-button:hover {
  background: black;
  color: white;
}

.linkedin-button {
  background: white;
  color: black;
  border: none;
  border-radius: 50px;
  padding: 20px 20px;
  font-size: 0.6rem;
  cursor: pointer;
  transition: all 0.8s ease;
  font-size: medium;
}

.linkedin-button:hover {
  background: black;
  color: white;
}

/* Media Queries for Responsiveness */
@media (max-width: 599px) and (orientation: portrait) {
  .nav--bar {
    font-size: 6vw;
  }

  .first h1 {
    font-size: 8vw;
  }

  .first p {
    font-size: 4vw;
  }

  .section--one--container2 {
    flex-direction: column;
    align-items: center;
  }

  .spec--wrapper .name, .value--wrapper .value {
    font-size: 4vw;
  }

  .value--wrapper .unit {
    font-size: 2vw;
  }

  .title {
    font-size: 8vw;
  }

  .detail {
    font-size: 4vw;
    line-height: 5vw;
  }
}

@media (max-width: 899px) and (orientation: landscape) {
  .nav--bar {
    font-size: 5vw;
  }

  .first h1 {
    font-size: 6vw;
  }

  .first p {
    font-size: 3vw;
  }

  .section--one--container2 {
    flex-direction: column;
    align-items: center;
  }

  .spec--wrapper .name, .value--wrapper .value {
    font-size: 3vw;
  }

  .value--wrapper .unit {
    font-size: 1.5vw;
  }

  .title {
    font-size: 6vw;
  }

  .detail {
    font-size: 3vw;
    line-height: 4vw;
  }
}

@media (min-width: 900px) {
  .nav--bar {
    font-size: 2vw;
  }

  .first h1 {
    font-size: 4vw;
  }

  .first p {
    font-size: 1.5vw;
  }

  .section--one--container2 {
    flex-direction: row;
    justify-content: space-between;
  }

  .spec--wrapper .name, .value--wrapper .value {
    font-size: 1.5vw;
  }

  .value--wrapper .unit {
    font-size: 1vw;
  }

  .title {
    font-size: 3vw;
  }

  .detail {
    font-size: 1.5vw;
    line-height: 2vw;
  }
}
